[submodule "googletest"]
    path = test/lib/googletest
    url = https://github.com/google/googletest.git
    branch = master
[submodule "src/cxxopts"]
	path = src/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
